<!-- templates/form.html -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Form</title>
		<link
			rel="stylesheet"
			href="/css/styles.css" />
	</head>
	<body>
		<h1>Form</h1>
		<form
			action="/places"
			method="POST">
			<label for="places">Text Input:</label>
			<input
				type="text"
				id="places"
				name="places" />
			<label for="startDate">Start Date:</label>
			<input
				type="date"
				id="startDate"
				name="startDate" />
			<label for="endDate">End Date:</label>
			<input
				type="date"
				id="endDate"
				name="endDate" />
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
